@font-face {
  font-family: "pp-pangram-sans-bold";
  src: url(./pp-pangram-sans-bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "pp-pangram-sans-bold", sans-serif;
  color: white;
}

.wrap {
  background: black;
  position: relative;
  display: flex;
  gap: 1vw;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 20px;
}

video {
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.wrap__words {
  width: fit-content;
  z-index: 2;
  font-size: 7vw;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 3px;
}

.separator {
  width: 100%;
  height: 5vw;
  background-color: white;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mob {
  display: none;
}

@media screen and (max-width: 779px) {
  .pc {
    display: none;
  }

  .mob {
    display: block;
    overflow: hidden;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrap__words {
    width: fit-content;
    font-size: 11.2vw;
    letter-spacing: 0;
  }

  .item-1,
  .item-3,
  .item-6 {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-4 {
    grid-template-columns: 1fr;
  }

  .separator {
    min-height: 8vw;
    width: 100%;
  }
}
